
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BosLayout.cshtml";
}

<html>
    <head>
        <!-- Shopier CSS -->
       
    </head>
    <body>

        <a href="/Odeme/Index" type="submit">ödeme yap</a>

    <!-- Shopier JS -->
   </body>
</html>

