
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/FrontLayout.cshtml";
}

<section class="middle">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center">
								<h2 class="off_title">Popular Categories</h2>
								<h3 class="ft-bold pt-3">Trending Categories</h3>
							</div>
						</div>
					</div>

					<div class="row align-items-center justify-content-center">
						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border"><a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/fashion.png" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Men's Wear</a></h6></div>
							</div>
						</div>

						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border"><a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/tshirt.png" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Kid's Wear</a></h6></div>
							</div>
						</div>

						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border"><a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/accessories.png" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Accessories</a></h6></div>
							</div>
						</div>

						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border"><a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/sneakers.png" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Men's Shoes</a></h6></div>
							</div>
						</div>

						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border"><a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/television.png" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Television</a></h6></div>
							</div>
						</div>

						<div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
							<div class="cats_side_wrap text-center mx-auto mb-3">
								<div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border"><a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/pant.png" class="img-fluid" width="40" alt=""></a></div></div>
								<div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">Men's Pants</a></h6></div>
							</div>
						</div>
					</div>

				</div>
			</section>
			<section class="space min pt-0">
				<div class="container">

					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

							<ul class="nav nav-tabs b-0 d-flex align-items-center justify-content-center simple_tab_links mb-4" id="myTab" role="tablist">
								<li class="nav-item" role="presentation">
									<a class="nav-link" id="all-tab" href="#all" data-toggle="tab" role="tab" aria-controls="all" aria-selected="true">All</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link active" href="#mens" id="mens-tab" data-toggle="tab" role="tab" aria-controls="mens" aria-selected="false">Men's</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" href="#women" id="women-tab" data-toggle="tab" role="tab" aria-controls="women" aria-selected="false">Women</a>
								</li>
								<li class="nav-item" role="presentation">
									<a class="nav-link" href="#kids" id="kids-tab" data-toggle="tab" role="tab" aria-controls="kids" aria-selected="false">Kids</a>
								</li>
							</ul>

							<div class="tab-content" id="myTabContent">

								<!-- All Content -->
								<div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
									<div class="tab_product">
										<div class="row rows-products">

											<!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
												<div class="product_grid card b-0">
													<div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="card-body p-0">
														<div class="shop_thumb position-relative">
															<a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img class="card-img-top" src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/product/15.png" alt="..."></a>
															<div class="product-left-hover-overlay">
																<ul class="left-over-buttons">
																	<li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center"><i class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
																	<li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i class="far fa-heart position-absolute"></i></a></li>
																	<li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i class="fas fa-shopping-basket position-absolute"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="card-footer b-0 p-0 pt-2 bg-white d-flex align-items-start justify-content-between">
														<div class="text-left">
															<div class="text-left">
																<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star"></i>
																	<span class="small">(5 Reviews)</span>
																</div>
																<h5 class="fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">Women Striped Shirt Dress</a></h5>
																<div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>

								<div class="tab-pane fade show active" id="mens" role="tabpanel" aria-labelledby="mens-tab">
									<div class="tab_product">
										<div class="row rows-products">

											<!-- Single -->
											<div class="col-xl-3 col-lg-4 col-md-6 col-6">
												<div class="product_grid card b-0">
													<div class="badge bg-info text-white position-absolute ft-regular ab-left text-upper">Sale</div>
													<div class="card-body p-0">
														<div class="shop_thumb position-relative">
															<a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img class="card-img-top" src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/product/15.png" alt="..."></a>
															<div class="product-left-hover-overlay">
																<ul class="left-over-buttons">
																	<li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center"><i class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
																	<li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i class="far fa-heart position-absolute"></i></a></li>
																	<li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i class="fas fa-shopping-basket position-absolute"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
													<div class="card-footer b-0 p-0 pt-2 bg-white d-flex align-items-start justify-content-between">
														<div class="text-left">
															<div class="text-left">
																<div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star filled"></i>
																	<i class="fas fa-star"></i>
																	<span class="small">(5 Reviews)</span>
																</div>
																<h5 class="fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">Women Striped Shirt Dress</a></h5>
																<div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


							</div>

						</div>
					</div>

				</div>
			</section>

			<section class="middle gray">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center">
								<h2 class="off_title">Trendy Products</h2>
								<h3 class="ft-bold pt-3">Our Trending Products</h3>
							</div>
						</div>
					</div>

					<!-- row -->
					<div class="row align-items-center rows-products">

						<!-- Single -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-6">
							<div class="product_grid card b-0">
								<div class="badge bg-success text-white position-absolute ft-regular ab-left text-upper">Sale</div>
								<div class="card-body p-0">
									<div class="shop_thumb position-relative">
										<a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img class="card-img-top" src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/product/1.jpg" alt="..."></a>
										<div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
											<div class="edlio"><a href="#" data-toggle="modal" data-target="#quickview" class="text-white fs-sm ft-medium"><i class="fas fa-eye mr-1"></i>Quick View</a></div>
										</div>
									</div>
								</div>
								<div class="card-footer b-0 p-0 pt-2">
									<div class="d-flex align-items-start justify-content-between">
										<div class="text-left">
											<div class="form-check form-option form-check-inline mb-1">
												<input class="form-check-input" type="radio" name="color1" id="white" checked="">
												<label class="form-option-label small rounded-circle" for="white"><span class="form-option-color rounded-circle blc1"></span></label>
											</div>
											<div class="form-check form-option form-check-inline mb-1">
												<input class="form-check-input" type="radio" name="color1" id="blue">
												<label class="form-option-label small rounded-circle" for="blue"><span class="form-option-color rounded-circle blc2"></span></label>
											</div>
											<div class="form-check form-option form-check-inline mb-1">
												<input class="form-check-input" type="radio" name="color1" id="yellow">
												<label class="form-option-label small rounded-circle" for="yellow"><span class="form-option-color rounded-circle blc3"></span></label>
											</div>
											<div class="form-check form-option form-check-inline mb-1">
												<input class="form-check-input" type="radio" name="color1" id="pink">
												<label class="form-option-label small rounded-circle" for="pink"><span class="form-option-color rounded-circle blc4"></span></label>
											</div>
										</div>
										<div class="text-right">
											<button class="btn auto btn_love snackbar-wishlist"><i class="far fa-heart"></i></button> 
										</div>
									</div>
									<div class="text-left">
										<h5 class="fw-bolder fs-md mb-0 lh-1 mb-1"><a href="shop-single-v1.html">Half Running Set</a></h5>
										<div class="elis_rty"><span class="ft-bold text-dark fs-sm">$99 - $129</span></div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- row -->

					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="position-relative text-center">
								<a href="shop-style-1.html" class="btn stretched-link borders">Explore More<i class="lni lni-arrow-right ml-2"></i></a>
							</div>
						</div>
					</div>

				</div>
			</section>
			<section class="p-0">
				<div class="container-fluid p-0">

					<div class="row no-gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="sec_title position-relative text-center">
								<h2 class="off_title">Instagram Gallery</h2>
								<span class="fs-lg ft-bold theme-cl pt-3">mahak_71</span>
								<h3 class="ft-bold lh-1">From Instagram</h3>
							</div>
						</div>
					</div>

					<div class="row no-gutters">

						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/i-1.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/i-2.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/i-3.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/i-7.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/i-8.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/i-4.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/i-5.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="_insta_wrap">
								<div class="_insta_thumb">
									<a href="javascript:void(0);" class="d-block"><img src="~/template/themezhub.net/kumo-demo-2/kumo/assets/img/i-3.png" class="img-fluid" alt="" /></a>
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
			<section class="px-0 py-3 br-top">
			<div class="container">
				<div class="row">

					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="d-flex align-items-center justify-content-start py-2">
							<div class="d_ico">
								<i class="fas fa-shopping-basket"></i>
							</div>
							<div class="d_capt">
								<h5 class="mb-0">Free Shipping</h5>
								<span class="text-muted">Capped at $10 per order</span>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="d-flex align-items-center justify-content-start py-2">
							<div class="d_ico">
								<i class="far fa-credit-card"></i>
							</div>
							<div class="d_capt">
								<h5 class="mb-0">Secure Payments</h5>
								<span class="text-muted">Up to 6 months installments</span>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="d-flex align-items-center justify-content-start py-2">
							<div class="d_ico">
								<i class="fas fa-shield-alt"></i>
							</div>
							<div class="d_capt">
								<h5 class="mb-0">15-Days Returns</h5>
								<span class="text-muted">Shop with fully confidence</span>
							</div>
						</div>
					</div>

					<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
						<div class="d-flex align-items-center justify-content-start py-2">
							<div class="d_ico">
								<i class="fas fa-headphones-alt"></i>
							</div>
							<div class="d_capt">
								<h5 class="mb-0">24x7 Fully Support</h5>
								<span class="text-muted">Get friendly support</span>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
